---
---


@page {
  size: A4;
}

body {
  font-size: 12pt;
}

p, aside, section.major, pre, .todo, .grouped {
  page-break-inside: avoid;
}

section.major {
  page-break-after: always;
}

nav, footer {
  display: none;
}

.part-header {
  page-break-before: always;
  page-break-after: always;
  text-align: center;
}

.break {
  page-break-before: always;
}

.cover {
  margin-top: 50%;
  font-size: 100pt;
  page-break-after: always;
}
