<section class='break'>
  <h2>Part One: Introductions</h2>

  <ol class='toc' type='i'>
    <li><a href='#chapter-i'>But who is this book for, really?</a></li>
    <li><a href='#chapter-ii'>Elixir? Isn't that something you drink?</a></li>
  </ol>

  <h2>Part Two: And away we go</h2>

  <ol class='toc'>
    <li><a href='#chapter-1'>Appeasing the masses with code</a></li>
    <li><a href='#chapter-2'>Now, where did I put that value?</a></li>
    <li><a href='#chapter-3'>Lovely lists</a></li>
    <li><a href='#chapter-4'>Marvellous maps</a></li>
    <li><a href='#chapter-5'>Funky functions</a></li>
    <li><a href='#chapter-6'>Pattern matching</a></li>
    <li><a href='#chapter-7'>Part 2 recap</a></li>
  </ol>

  <h2>Part Three: Building on the foundations</h2>

  <ol class='toc' start='8'>
    <li><a href='#chapter-8'>Working with Strings, input and output</a></li>
    <li><a href='#chapter-9'>Working with lists</a></li>
    <li><a href='#chapter-10'>Working with maps</a></li>
    <li><a href='#chapter-11'>Working with files</a></li>
    <li><a href='#chapter-12'>Conditional code</a></li>
    <li><a href='#chapter-13'>Finding more files</a></li>
    <li><a href='#chapter-14'>Modules and Structs</a></li>
  </ol>

  <h2>Part Four: Real world Elixir</h2>

  <ol class='toc' start='15'>
    <li><a href='#chapter-15'>Introduction to Mix</a></li>
    <li>Mix dependencies</li>
    <li>Testing with ExUnit</a></li>
  </ol>

  <h2>The Appendixes</h2>

  <ol class='toc' type='a'>
    <li><a href='#chapter-a'>Setup and Install</a></li>
    <li><a href='#chapter-c'>Exercise Solutions</a></li>
  </ol>
</section>
