<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" media="print" href="/css/print.css">
  <link href="https://fonts.googleapis.com/css?family=Anonymous+Pro|Oxygen" rel="stylesheet">
  <link rel="icon" type="image/png" href="https://joyofelixir.com/favicon.png" />
  <script src='/js/main.js' type='text/javascript'></script>
  <script src='/js/highlight.pack.js' type='text/javascript'></script>
  <script type='text/javascript'>hljs.initHighlightingOnLoad();</script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="Joy of Elixir" />

  <meta property="og:image" content="https://joyofelixir.com/images/small_logo.png" />
  <meta property="og:description" content="Joy of Elixir is a gentle introduction to programming, aimed at people who already know some things about computers, but who have little-to-no programming experience." />
  <meta name="description" content="Joy of Elixir is an absolute beginners guide to Elixir.">


  <title>{{ page.title }} - Joy of Elixir</title>
</head>
