$console-green: #c4d264;
$console-yellow: #eccd58;
$console-red: #ff4c41;

.console-green {
  color: $console-green;
}

.console-yellow {
  color: $console-yellow;
}

.console-red {
  color: $console-red;

  span[class^="hljs-"] {
    color: $console-red;
  }
}

.unused-clause {
  opacity: 0.5;
}

.hljs-number {
 color: $console-yellow;
}
