@import "colours";

.console-green {
  color: $green;
}

.console-yellow {
  color: $yellow;
}

.console-red {
  color: $red;

  span[class^="hljs-"] {
    color: $red;
  }
}

.console-blue {
  color: $blue;

  span[class^="hljs-"] {
    color: $blue;
  }
}

.unused-clause {
  opacity: 0.5;
}

.unfocussed {
  opacity: 0.66;
}

.hljs-number {
 color: $yellow;
}
