$purple: #791E94;
$light-purple: #B559D1;

body {
  font: 14pt "Pavanam";
  @media screen {
    background: #E1C2EA;
  }
  margin: 0;
}

h1, h2, h3, h4 {
  color: $purple;
}

h2 {
  font-size: 150%;
  font-weight: bold;
}

a {
  color: $light-purple;
}

article {
  .center {
    text-align: center;
  }

  img {
    max-width: 100%;
  }

  code {
    font: 12pt "Anonymous Pro";
  }

  pre {
    code {
      line-height: 133%;
    }
  }

  aside {
    background: #C7EBF0;
    padding: 15px;

    header {
      font-weight: bold;
      font-size: 125%;
    }
  }

  blockquote {
    background: #C7EBF0;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

footer {
  text-align: center;
}

.wrapper {
  margin: 0 5%;
  background: white;
  padding: 2.5% 5%;
}

.toc {
  font-size: 125%;
  line-height: 200%;
}

.todo {
  background: #de0000;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.intro {
  min-height: 500px;

  .cover {
    width: 50%;
    float: left;
    margin-right: 20px;
    min-height: 500px;
    text-align: center;

    img {
      max-width: 100%;
      height: 500px;
    }
  }

  .buy {
    border-radius: 3px;
    border: 3px solid darken($purple, 5);
    font-size: 150%;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(125deg, $purple, lighten($purple, 25));

  }


  .intro-text {
    padding-top: 1em;
  }
}
