$purple: #791E94;
$light-purple: #B559D1;

body {
  font: 14pt "Pavanam";
  -webkit-text-size-adjust: 100%;
  @media only screen and (max-device-width: 750px) and (orientation: portrait) {
    font-size: 20pt;
  }
  @media screen {
    background: linear-gradient(145deg, #E1C2EA, darken(#E1C2EA, 25)) ;
  }
  margin: 0;
}

h1, h2, h3, h4 {
  color: $purple;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
}

p {
  line-height: 133%;
}

a {
  color: $light-purple;
}

article {
  img {
    max-width: 100%;
  }

  code {
    font-family: "Anonymous Pro";
  }

  pre {
    code {
      font-size: 1rem;
      line-height: 133%;
    }
  }

  aside {
    background: #C7EBF0;
    padding: 15px;

    header {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  aside + aside {
    margin-top: 20px;
  }

  blockquote {
    background: #C7EBF0;
    padding: 15px;

    p {
      margin: 0;
    }
  }
}

footer {
  text-align: center;
}

.wrapper {
  @media only screen and (min-device-width: 750px) {
    margin: 0 5%;
  }
  background: white;
  padding: 2.5% 5%;
}

.toc {
  font-size: 125%;
  line-height: 200%;
}

.todo {
  background: #de0000;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.large {
  font-size: 3.5rem;
}

.center {
  text-align: center;
}

.intro {
  .cover {
    text-align: center;
  }
  .cover img {
    max-width: 100%;
    @media only screen and (min-width: 34em) {
      max-height: 500px;
    }
  }
  .buy {
    border-radius: 3px;
    border: 3px solid darken($purple, 5);
    font-size: 150%;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(125deg, $purple, lighten($purple, 25));
  }
}
