@import "colours";

html {
  height: 100%;
}

body {
  height: 100%;

  font: 13pt "Oxygen";
  font-weight: 100;
  -webkit-text-size-adjust: 100%;
  @media screen {
    background: linear-gradient(145deg, $lighter-purple, darken($lighter-purple, 25));
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  margin: 0;
}

h1, h2, h3, h4 {
  color: $purple;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

h3 {
  font-size: 1.25rem;
}

p, ul {
  line-height: 150%;
}

a {
  color: $light-purple;
}

article {
  img {
    max-width: 100%;
  }

  code {
    font-family: "Anonymous Pro";
  }

  p, ul {
    code {
      background: #FBECFF;
      border-radius: 3px;
      padding: 3px;
    }
  }

  pre {
    code {
      font-size: 1rem;
      line-height: 133%;
      border-left: 5px solid $light-purple;
    }
  }

  aside {
    border-color: #80DED9;
    background: lighten(#80DED9, 30);

    header {
      font-weight: bold;
      font-size: 1.5rem;
    }
  }

  aside + aside {
    margin-top: 20px;
  }

  aside, blockquote {
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
    padding: 15px;

    p:last-child {
      margin-bottom: 0px;
    }
  }

  blockquote {
    margin: 0;
    border-color: #9DD1F1;
    background: lighten(#9DD1F1, 15);

    p {
      margin: 0;
    }
  }

  figure {
    text-align: center;

    img {
      border: 1px solid #D7D7D7;
    }

    figcaption {
      font-size: 85%;
    }
  }
}

footer {
  text-align: center;
}

.wrapper {
  @media only screen and (min-device-width: 750px) {
    margin: 0 5%;
  }
  background: white;
  padding: 2.5% 5%;
}

.toc {
  font-size: 1.2rem;
  line-height: 150%;
}

.todo {
  background: #de0000;
  padding: 25px;
  color: white;
  font-weight: bold;
}

.todo + .todo {
  margin-top: 25px;
}

.large {
  font-size: 3.5rem;
}

.intro {
  .cover {
    text-align: center;
  }
  .cover img {
    max-width: 100%;
    max-height: 200px;
    @media only screen and (min-width: 48em) {
      max-height: 500px;
    }
  }
  .buy {
    border-radius: 3px;
    border: 3px solid darken($purple, 5);
    font-size: 150%;
    padding: 10px 20px;
    color: white;
    background: linear-gradient(125deg, $purple, lighten($purple, 25));
  }
}

.dotted {
  padding: 0 2px;
}

.dotted-red {
  border: 3px dashed $red;
}

.dotted-yellow {
  border: 3px dashed $yellow;
}

.dotted-green {
  border: 3px dashed $green;
}

.dotted-blue {
  border: 3px dashed $blue;
}
