<h2 id='chapter-11'>11. Working with files</h2>

<p>
  So far, we've worked with data that we've defined ourselves in the <code>iex</code> prompt. This has been incredibly handy because it has allowed us (and Izzy) to experiment with Elixir's features. When we program in the real world, data typically comes from sources external to our code. One of those sources is files from the <a href='https://en.wikipedia.org/wiki/File_system'>file system</a>.
</p>

<p>
  In this chapter, we'll look at how we can read existing files, create new ones and even delete files using functions that are built-in to Elixir.
</p>

<section>
  <h3>Reading a file</h3>

  <p>
    The first thing we're going to take a look at here is how to read a file's contents. Certain files may contain data that we can use in our Elixir programs.
  </p>
</section>

<section>
  <h3>Writing to a file</h3>
</section>

<section>
  <h3>Deleting a file</h3>
</section>
