<section class='break'>
  <h2 id='chapter-15'>15. Introduction to Mix</h2>

  <p>
    Welcome to the final part, Part 4 of Joy of Elixir. You've done well to venture this far. The focus for this part of the book is "Real World Elixir". We're going to gather all of the things that we've learned so far and build a new Elixir project, just as we would do in the real world.
  </p>

  <p>
    In this last part consisting of two chapters, we're going to work with an Elixir tool called Mix. Mix allows us to create Elixir projects, allowing us to group together modules into a cohesive unit. It's a similar idea to how we used a module to group together functions in the last chapter.
  </p>

  <p>
    Mix projects also come with a built-in testing tool called ExUnit, that we'll be looking at in the very next chapter.
  </p>

  <p>
    In this chapter, we're going to get started with Mix, walk through the structure of a Mix project and then move our code from the last chapter into this project.
  </p>

</section>
