<section class='break'>
  <h2 id='chapter-18'>18. Automated testing</h2>

  <p>
    This chapter is all about testing your code. Haven't we been doing that already? We've certainly be using it a few
    times. Isn't that testing?
  </p>

  <p>
    I should be more specific. In this chapter, we'll be covering <em>automated</em> testing. We're going to write even
    more Elixir code that will put our current Elixir code (the stuff in <code>lib/person.ex</code> and
    <code>lib/router.ex</code>) through its paces.
  </p>

  <p>
    As we develop larger and larger Elixir applications through using Elixir, testing each function of these
    applications in a manual way will get tedious. But still, we want to ensure that our application is functioning the
    way we meant it to! The way that we do this, and maintain our sanity, is through automated testing.
  </p>

  <p>
    We'll explore here how to write these automated tests using another piece of Elixir called ExUnit. We will run these
    tests with a Mix task simply called <code>test</code>, and when that command runs we'll be able to verify if our
    application is working or not.
  </p>

  <p>
    In the last section of this chapter, we'll cover how to write documentation for our code. This documentation will be
    helpful to anyone who wants to read it, but it can also be written in a way that runs further automated tests for
    our application, using something called <em>doctests</em>.
  </p>

  <section>
    <h3>Introduction to ExUnit</h3>

    <p>
      Let's start by looking at this ExUnit thing. Elixir is made up several distinct parts, and you've now seen Elixir
      itself, IEx and Mix in action. The latest part to join the fray of our learning is ExUnit.
    </p>

    <p>
      ExUnit is a tool that we can use to write automated tests for our application. Believe it or not, but we already
      have a test in our application. We've just been choosing not to see it at the moment. Let's look at this file now,
      <code>test/people_test.exs</code>:
    </p>

    <pre><code>defmodule PeopleTest do
  use ExUnit.Case
  doctest People

  test "greets the world" do
    assert People.hello() == :world
  end
end</code></pre>

    <p>
      When we ran <code>mix new people</code> one of the files that was generated was this file. Another one of the
      files that was generated was one called <code>lib/people.ex</code>. Not to be confused with
      <code>lib/person.ex</code>! Let's look at <code>lib/people.ex</code> now. I'll remove the documentation here to
      make it easier to focus on what we're doing.
    </p>

    <pre><code>defmodule People do
  def hello do
    :world
  end
end
</code></pre>

    <p>
      The test in <code>test/people_test.exs</code> ensures that when the <code>People.hello/0</code> function is
      called, that it returns <code>:world</code>. We can run this test with the <code>test</code> Mix task:
    </p>

    <pre><code>$ mix test</code></pre>

    <p>
      When we run this command, we'll see this output:
    </p>

    <pre><code class='hljs plain'><span class='console-green'>..</span>

Finished in 0.04 seconds
<span class='console-green'>1 doctest, 1 test, 0 failures</span></code></pre>

    <p>
      We'll ignore the "1 doctest" part here, and focus on the "1 test" part. ExUnit is showing us here that it has ran
      a single test, and that there were no failures when it ran that test. This means that our
      <code>People.hello/0</code> function is behaving. Great!
    </p>

    <p>
      But what if it wasn't behaving? Well, let's take a look at what happens by changing this function to return
      something else other than <code>:world</code>:
    </p>

    <pre><code>defmodule People do
  def hello do
    :earth
  end
end</code></pre>

    <p>
      Let's run our tests again:
    </p>

    <pre><code>$ mix test</code></pre>

    <p>
      This time, there will be one failure:
    </p>

    <pre><code class='hljs plain'>1) test greets the world (PeopleTest)
   <span class='console-grey bold'>test/people_test.exs:5</span>
   Assertion with == failed
   <span class='console-blue'>code:</span>  assert People.hello() == :world
   <span class='console-blue'>left:</span>  <span class='console-red'>:earth</span>
   <span class='console-blue'>right:</span> <span class='console-green'>:world</span>
   stacktrace:
     test/people_test.exs:6: (test)</code></pre>

    <p>
      Without even having to run <code>iex -S mix</code> and then run <code>People.hello</code> to see if this function
      is working, we've been able to tell by running our automated test. Well, we probably knew it wouldn't work before
      then but... the point still stands! When our Elixir projects get larger, testing really does come in handy. It's
      good to practice it now on a small scale, so that we can employ it on a larger scale.
    </p>

    <p>
      When we change the <code>People</code> code back:
    </p>

    <pre><code>defmodule People do
  def hello do
    :world
  end
end</code></pre>

    <p>
      And then re-run the command to run the tests:
    </p>

    <pre><code>$ mix test</code></pre>

    <p>
      We'll see everything is still working:
    </p>

    <pre><code class='hljs plain'><span class='console-green'>..</span>

Finished in 0.04 seconds
<span class='console-green'>1 doctest, 1 test, 0 failures</span></code></pre>

    <p>
      Now that we've seen how to use tests that already exist, we will now try (and succeed!) to write our own.
    </p>
  </section>

  <section>
    <h3>Writing our own tests</h3>

    <p>
      Writing our own tests will not very scary at all. In fact, we can copy a lot of what Mix has already done for us.
      The tests that we will write will now will be for our <code>People.Person</code> module, and we'll start with the
      <code>full_name</code> function. Let's create a new file
      at <code>test/person_test.exs</code> and put this content in it:
    </p>

    <pre><code>defmodule People.PersonTest do
  use ExUnit.Case
  alias People.Person

  test "full_name/1" do
    person = %Person{
      first_name: "Ryan",
      last_name: "Bigg"
    }

    assert person |> Person.full_name() === "Ryan Bigg"
  end
end</code></pre>

    <p>
      There are a two main things to remember with tests:
    </p>

    <ol>
      <li>The files do not get compiled into the "final version" of our application, so they are Elixir scripts,
        indicated by their ".exs" extension</li>
      <li>The common convention is to name the module for the tests after the module that's under test. We're testing
        the <code>People.Person</code> module here, and so our test follows that same pattern, just with
        <code>Test</code> on the end.
      </li>
    </ol>

    <p>
      As tests are written inside of modules, we can use <code>alias</code> here, just like we have done in our other
      code. Inside this module, we <code>use ExUnit.Case</code>, which then gives us access to the <code>test</code>
      function that then lets us define a test.
    </p>

    <p>
      Inside that test, we write code just like we might within a <code>iex -S mix</code> session. We build up a brand
      new person, and then pass that data through to <code>Person.full_name/1</code>. We then use the
      <code>assert</code> function from ExUnit to verify that the function matches the expected value.
    </p>

    <p>
      Let's try running this test now with our new favourite command:
    </p>

    <pre><code>$ mix test</code></pre>

    <p>
      Here's what we'll see:
    </p>

    <pre><code class='hljs plain'><span class='console-green'>...</span>

Finished in 0.05 seconds
<span class='console-green'>1 doctest, 2 tests, 0 failures</span></code></pre>

    <p>
      Excellent! Our test is now verifying that our <code>Person.full_name/1</code> function is behaving correctly.
    </p>

    <p>
      The great thing about having these tests is that if we were to change the behaviour of
      <code>Person.full_name/1</code> function to something else that was wrong, then this test would fail. Rather than
      doing that, what we'll do is change the <em>test</em> first, to assert that the full name is different. Just
      for... something different to do.
    </p>

    <p>
      We'll be changing our test to assert that if there is no last name specified that it outputs just the first name.
      After all, what if people like <a href='https://en.wikipedia.org/wiki/Teller_(magician)'>Teller</a> or <a
        href='https://en.wikipedia.org/wiki/Madonna'>Madonna</a> were to use our Elixir application, we should support
      them too -- they have mononyms. We could go further and attempt to address <a
        href='https://www.kalzumeus.com/2010/06/17/falsehoods-programmers-believe-about-names/'>the falsehoods
        programmers believe about names</a>, but perhaps that's too much. Let's just do these mononym people first.
    </p>

    <p>
      Let's add another test for these mononymic people:
    </p>

    <pre><code>defmodule PersonTest do
  use ExUnit.Case
  alias People.Person

  ...

  test "full_name/1 with mononyms" do
    teller = %Person{
      first_name: "Teller"
    }

    assert teller |> Person.full_name() === "Teller"

    madonna = %Person{
      first_name: "Madonna"
    }

    assert madonna |> Person.full_name() === "Madonna"
  end
end</code></pre>

    <p>
      This test has not one but <em>two</em> assertions in it! The first asserts that when we ask for Teller's full
      name, we get... well, we just get "Teller". The same goes for Madonna.
    </p>

    <p>
      Let's try running this test now.
    </p>

    <pre><code class='hljs plain'>$ mix test</code></pre>

    <p>
      Here's what we'll see:
    </p>

    <pre><code class="hljs plain">1) test full_name/1 with mononyms (PersonTest)
  test/person_test.exs:14
  <span class='console-red'>Assertion with === failed</span>
  code:  assert teller |> Person.full_name() === "Teller"
  left:  "Teller<span class='console-bg-red'>&nbsp;</span>"
  right: "Teller"
  stacktrace:
    test/person_test.exs:19: (test)</code></pre>

    <p>
      Uh oh. Our test is failing! We are not as perfect as may have thought. We have two options here. First, we could
      change the test to expect "Teller " (with that space). The second is that we could fix the code. I personally like
      the latter option and so that's what we'll do.
    </p>

    <p>
      Let's go over to <code>lib/person.ex</code> and take a look at our <code>full_name</code> function:
    </p>

    <pre><code>def full_name(%__MODULE__{
  first_name: first_name,
  last_name: last_name
}) do
  "#{first_name} #{last_name}"
end</code></pre>

    <p>
      This function takes the <code>first_name</code> and the <code>last_name</code> of the passed in person and
      joins them together with a space. But now that we're working with people with only single name, we're going to
      need to do something different here. That something different is to use pattern matching!
    </p>

    <p>
      The default value for a <code>last_name</code> is <code>nil</code>. So if we just have a first name but no last
      name specified, we could define a different <code>full_name</code> function to act accordingly. And then that
      shgould make our test happy too! Let's try that out.
    </p>

    <pre><code>def full_name(%__MODULE__{
  first_name: first_name,
  last_name: nil
}) do
  "#{first_name}"
end

def full_name(%__MODULE__{
  first_name: first_name,
  last_name: last_name
}) do
  "#{first_name} #{last_name}"
end</code></pre>


    <p>
      We now have two function clauses for <code>full_name</code>, one that matches when <code>last_name</code> is
      <code>nil</code>, and another when its any other value. In the first clause, we only output the first name.
    </p>

    <p>
      This goes to show that in order to make a test work, sometimes we need to change the underlying code.
    </p>

    <p>
      Let's run that test again and see what happens:
    </p>

    <pre><code class='hljs plain'>$ mix test</code></pre>

    <pre><code class='hljs plain'><span class='console-green'>....</span>

Finished in 0.05 seconds
<span class='console-green'>1 doctest, 3 tests, 0 failures</span></code></pre>

    <p>
      Wonderful. Our <code>Person.full_name/1</code> function now supports people with only a first name, as well as
      those with first and last names.
    </p>
  </section>

  <section>
    <h3>Documentation and tests</h3>

    <p>
      We've now seen one way to write our own tests. But there's <em>two</em> major ways to write our own tests in
      Elixir! The second of these is something called <em>doctests</em>.
    </p>

    <p>
      We've seen doctests referred to in the test output before, we haven't talked about them yet. When we're writing
      Elixir code, we can <em>document</em> that code by leaving documentation above it. An example of this is found in
      the
      <code>lib/people.ex</code> file:
    </p>

    <pre><code>defmodule People do
  @moduledoc """
  Documentation for People.
  """

  @doc """
  Hello world.

  ## Examples

      iex> People.hello()
      :world

  """
  def hello do
    :world
  end
end</code></pre>

    <p>
      The <code>@moduledoc</code> and <code>@doc</code> syntax here are called <em>module attributes</em>, and they
      allow us to write documentation for either the module as a whole, or for functions. We'll just be talking about
      function documentation here. The <code>"""</code> ("triple quote") syntax here is another way of writing strings
      in Elixir, and is typically used to indicate strings that go over multiple lines, such as this documentation.
    </p>

    <p>
      The documentation for the <code>hello</code> function here simply reads "Hello world." and then contains an
      example to show you how to use this function. This documentation is what will appear when we use the
      <code>h</code> helper in an <code>IEx</code> session:
    </p>

    <pre><code>iex> h People.hello</code></pre>


    <pre><code class='no-highlight custom'><div class='console-bg-yellow center'>def hello</div>
Hello world.

<span class='console-yellow'>## Examples</span>
<span class='console-blue'>
  iex> People.hello()
  :world</span></code></pre>

    <p>
      Documentation, in the form of <code>@doc</code> and <code>@moduledoc</code> is the way that Elixir developers
      communicate how to use their code. The "Examples" that are listed here show what an expected output of
      <code>hello</code> is.
    </p>

    <p>
      Back in Chapter 13, we saw this documentation for <code>Enum.find_index/2</code>:
    </p>

    <pre><code class='no-highlight custom'><div class='console-bg-yellow center'>def find_index(enumerable, fun)</div>

Similar to <span class='console-blue'>find/3</span>, but returns the index (zero-based) of the element instead of
the element itself.

<span class='console-yellow'>## Examples</span>
<span class='console-blue'>
    iex> Enum.find_index([2, 4, 6], fn x -> rem(x, 2) == 1 end)
    nil

    iex> Enum.find_index([2, 3, 4], fn x -> rem(x, 2) == 1 end)
    1</span></code></pre>

    <p>
      This documentation is formatted in a similar way: a short description of the function, followed by some examples.
    </p>

    <p>
      What's cool about both of these documentation examples is that they contain tests, in the form of examples. Both
      <code>People.hello</code>'s documentation, and <code>Enum.find_index/2</code>'s documentation ensure that those
      functions are working, just as their examples demonstrate.
    </p>

    <p>
      Let's see a live example of this now, by writing some documentation tests for our <code>Person.full_name</code>
      function. We should document the behaviour of this function because it behaves differently depending on if there
      is only a <code>first_name</code> or a <code>last_name</code>, and documentation is a good way of demonstrating
      this. If we didn't have documentation, anyone wanting to learn how our code worked would have to read and
      understand the code, and that can take longer to understand than some clear-cut examples.
    </p>

    <p>
      To document our <code>full_name</code> function, we'll go into <code>lib/person.ex</code> and add these lines
      before the first <code>full_name</code> function clause. It's important to note here that we do not need to
      document <em>both</em> clauses, as this documentation applies equally to both functions.
    </p>

    <pre><code>  @doc """
  Joins together a person's first name and last name.
  If that person only has a first name, then will only show that name.

  ## Examples

  iex> ryan = %Person{first_name: "Ryan", last_name: "Bigg"}
  iex> ryan |> Person.full_name
  "Ryan Bigg"

  iex> madonna = %Person{first_name: "Madonna"}
  iex> madonna |> Person.full_name
  "Madonna"
"""
def full_name(%__MODULE__{
      first_name: first_name,
      last_name: nil
    }) do
  "#{first_name}"
end

def full_name(%__MODULE__{
      first_name: first_name,
      last_name: last_name
    }) do
  "#{first_name} #{last_name}"
end</code></pre>

    <p>
      This new documentation now documents our <code>full_name</code> function, <em>and</em> it can be used to test the
      <code>full_name</code> function too... except there's one last thing we need to do before we can run this
      documentation as tests. We need to tell our tests to run the documentation. Let's go into
      <code>test/person_test.exs</code> and add a new line at the top:
    </p>

    <pre><code>defmodule PersonTest do
use ExUnit.Case
alias People.Person
doctest People.Person</code></pre>

    <p>
      When we use <code>doctest</code> in this test, we're telling ExUnit that we have documentation tests in the
      <code>People.Person</code> module that we would like to run, along side the other, regular tests that are defined
      in this file.
    </p>

    <p>
      With that line now added, we will be able to run our tests again and see that there are more running:
    </p>

    <pre><code>$ mix test</code></pre>

    <pre><code><span class='console-green'>......</span>

Finished in 0.06 seconds
<span class='console-green'>3 doctests, 3 tests, 0 failures</span></code></pre>

    <p>
      Okay, so the number has gone up, but how can we be really sure our documentation tests are the ones that are
      running here? To see the names of the running tests, we can pass an option to <code>mix test</code> called
      <code>--trace</code>:
    </p>

    <pre><code>mix test --trace
PersonTest
  <span class='console-green'>* doctest People.Person.full_name/1 (2) (0.00ms)
  * test full_name/1 (0.00ms)
  * test full_name/1 with mononyms (0.00ms)
  * doctest People.Person.full_name/1 (1) (0.00ms)</span>

PeopleTest
  <span class='console-green'>* doctest People.hello/0 (1) (0.00ms)
  * test greets the world (0.00ms)</span>


Finished in 0.06 seconds
<span class='console-green'>3 doctests, 3 tests, 0 failures</span>
</code></pre>

    <p>
      Yes! Our doctests are indeed running. We've now seen how to write documentation in our Elixir modules that include
      examples that will then be incorporated into our tests. By using documentation in this way, we can ensure that our
      documentation is always up to date and that our code is always working.
    </p>
  </section>

  <section>
    <h3>Testing the router</h3>

    <p>
      Lastly, we need to talk about how to test another part of our code -- the Plug router that we added in the last
      chapter. To test a plug router is not as easy as calling a function and asserting on whatever comes back. But it's
      almost as easy!
    </p>

    <p>
      We'll start out by creating a new test file for this, at <code>test/router_test.exs</code>:
    </p>

    <pre><code>defmodule RouterTest do
      use ExUnit.Case
      use Plug.Test

      @opts People.Router.init([])

      test "returns hello 'name'" do
        conn = conn(:get, "/hello/Izzy")

        conn = People.Router.call(conn, @opts)

        assert conn.state == :sent
        assert conn.status == 200
        assert conn.resp_body == "Hello Izzy!"
      end
    end</code></pre>

    <p>
      This new module starts out by using <code>ExUnit.Case</code>, and this gives us the ability to call that
      <code>test</code> function a little bit later on. But this module also uses <code>Plug.Test</code>. This module
      includes a few helper functions that we can use for making requests to our routers. One of these functions is
      <code>conn</code>.
    </p>

    <p>
      Inside the test, we use <code>conn</code> to build up a test connection to make a request. We then send this
      request to the router by calling the <code>People.Router.call</code> function, passing in that <code>conn</code>.
      We also pass in <code>@opts</code>, which comes from calling the <code>People.Router.init</code> function at the
      top of this module.
    </p>

    <p>
      Once we have called the router, we will get back a new <code>conn</code>, which will contain the response from the
      router. We check that this connection has been "sent" -- Plug's terminology for if the router has chosen to
      dispatch a request or not.
    </p>

    <p>
      We also check here the <code>status</code> and the <code>resp_body</code> of the <code>conn</code>, making sure
      that it has suceeded and returned the correct message.
    </p>

    <p>
      When we run this test, we should see that it passes:
    </p>

    <pre><code>$ mix test</code></pre>

    <pre><code><span class='console-green'>.......</span>

Finished in 0.07 seconds
<span class='console-green'>3 doctests, 4 tests, 0 failures</span></code></pre>

    <p>
      See? I told you that it was almost as easy as calling a function and asserting on the outcome. This is made
      possible by the fact that routers (and plugs) are simply modules with functions. They take some arguments, and
      return some data. We can then assert easily on that data.
    </p>

    <p>
      It is possible also to write tests for the <code>People.Hello</code> and <code>People.Goodbye</code> plugs, but I
      think that's best left as an exercise to the reader, and so I will include it at the end of this chapter in the
      exercises list.
    </p>

    <p>
      And that's all there is to testing our modules and functions within Elixir. We use ExUnit to write these tests,
      and we can put these tests under the <code>test</code> directory of our application, or write them as "inline"
      documentation on our functions in the form of documentation tests.
    </p>
  </section>

  <section>
    <h3>Exercises</h3>

    <ol>
      <li>
        Write a test that asserts <code>Person.age/1</code> works correctly. This could be a regular test, or a
        documentation test. Why not try both?
      </li>

      <li>
        Write tests for the <code>People.Hello</code> and <code>People.Goodbye</code> plugs. Refer back to your tests
        for <code>People.Router</code> if you need to.
      </li>
    </ol>
  </section>
</section>
