
<section class='break'>
  <h2 id='chapter-2'>2. Now, where did I put that value?</h2>

  <p>
    We've now seen that Elixir can handle words and numbers easily. But what else can it do? Well, it can remember things.
  </p>

<pre><code>iex> sentence = "A really long and complex &#9166;
sentence we'd rather not repeat."

<span class='console-green'>"A really long and complex &#9166;
sentence we'd rather not repeat."</span>

iex> score = 2 / 5 * 100
<span class='console-yellow'>40</span></code></pre>

  <p>
    As long as we leave <code>iex</code> running, Elixir will remember that <code>sentence</code> is <code>"A really long and complex sentence we'd rather not repeat."</code> and <code>score</code> is <code>40</code>. At any point in time, we can ask it what <code>sentence</code> or <code>score</code> is and it will tell us:
  </p>

<pre><code>iex> sentence
<span class='console-green'>"A really long and complex sentence we'd rather not repeat."</span>
iex> score
<span class='console-yellow'>40</span></code></pre>

  <p>
    <code>sentence</code> and <code>score</code> here are <em>variables</em>, and they're given that particular name because the thing that the computer remembers with that name of <code>sentence</code> or <code>score</code> can <em>vary</em>. We can tell the computer to forget its previous definition of <code>sentence</code> and give it a new one like this:
  </p>

<pre><code>iex> sentence = "An even longer and significantly more complex sentence
   that we might be ok with repeating, if the mood takes us."
<span class='console-green'>"An even longer and significantly more complex sentence
   that we might be ok with repeating, if the mood takes us."</span></code></pre>

  Then when we ask the computer what <code>sentence</code> is, it will have forgotten the old <code>sentence</code> and will only know the new one:

<pre><code>iex> sentence
<span class='console-green'>"An even longer and significantly more complex sentence
   that we might be ok with repeating, if the mood takes us."
</span></code></pre>

<div class='grouped'>
  <p>
    Now the masses are looking chirpier. Some are even smiling! Isn't that wonderful? Let's create another variable called <code>place</code>:
  </p>

  <pre><code>iex> place = "World"
  <span class='console-green'>"World"</span></code></pre>
</div>

  <p>
    The computer will now remember that <code>place</code> is <code>"World"</code>. "But what's the use of just <em>setting</em> a variable like this? Why make the computer remember at all?", Roberto (the spokesman) says. By the way, we have since learned the spokesman's name is Roberto, and so we've done some variable creation of our own in our own brain: <code>spokesman = "Roberto"</code>. Woah.
  </p>

  <p>
    Ok, Roberto's right. We should do something meaningful with this variable. Ok, Roberto, how about this? <em>[cracks knuckles]</em>
  </p>

<pre><code>iex> "Hello #{place}!"
<span class='console-green'>"Hello, World!"</span></code></pre>

  <p>
    The masses go nuts. It's pandemonium! Then after a few shushing motions with my hands, they're (mostly) quiet again.
  </p>

  <p>
    "What just happened?", asks Roberto? But <em>you</em>, Dear Reader, had asked that question already. Roberto didn't hear because of the crowd and the <em>sheer, unbounded</em> pandemonium.
  </p>

  <p>
    What on earth are those funky characters around <code>place</code>? You can think of them as a placeholder. Nerdier-types would call it <em>interpolation</em>. It tells the computer that we want to put the <code>place</code> variable <em>riiiiight</em> here, right after <code>Hello</code> and the space, and right before <code>!</code>.
  </p>

  <div class='todo'>
    Interpolation image explanation goes here
  </div>

  <p>
    The computer takes the sentence that we give it, realises that there's that funky <code>#{}</code> placeholder indicator, and it remembers what <code>place</code> was and puts it right there. Pretty nifty, eh?
  </p>
</section>

<section>
  <h3>Exercises</h3>

  <ul>
    <li>If we store the number of seconds in a day using this code: <code>seconds = 86400</code>, calculate using that variable how many seconds there are in 30 days.</li>
    <li>Create a variable called <code>name</code>, store a string in it and place the value of that variable in another string.</li>
    <li>The line <code>5 / "four"</code> shows an error. Think about why this error might happen.</li>
  </ul>
</section>
