<section class='break'>
  <h2 id='chapter-3'>3. Lovely lists</h2>

  But what <em>else</em> can Elixir do? We've seen that it can handle strings and it can handle mathematical equations with ease and it can remember things, but what else? Well, what if we had a <em>list</em> of things that we wanted the computer to remember? And we wanted the computer to remember this list of things in a particular order?

  We could do this by assigning each of the things to a unique variable:

<pre><code>iex> first = "fish"
<span class='console-green'>"fish"</span>
iex> second = "ham"
<span class='console-green'>"ham"</span>
iex> third = "eggs"
<span class='console-green'>"eggs"</span></code></pre>

  <p>
    But then we would need to remember that the things we want are stored in the variables <code>first</code>, <code>second</code> and <code>third</code>. And what if we -- as humans -- forget what position we were up to?
  </p>

<pre><code>iex> fifth = "bread"
<span class='console-green'>"bread"</span>
</code></pre>

  <p>
    <em>Disasterous!</em> This simply won't do.
  </p>

  <p>
    A better solution to getting the computer to remember a list in Elixir is to actually tell it what we're storing is a list. To do this, we wrap our list in square brackets (<code>[]</code>) and separate each item in the list with a comma:
  </p>

<pre><code>iex> shopping_list = ["fish", "ham", "eggs", "bread"]
[<span class='console-green'>"fish"</span>, <span class='console-green'>"ham"</span>, <span class='console-green'>"eggs"</span>, <span class='console-green'>"bread"</span>]</code></pre>

  <p>
    Just like we need to start and end a string with double quotes, we need to start and end a list with square brackets (<code>[]</code>).
  </p>

  <p>The computer will now remember our entire shopping list in one variable (<code>shopping_list</code>), rather than remembering it across multiple variables. Now we have a one-stop-shop that we can go to for our shopping list.
  </p>

  <p>
    Roberto, impressed with Elixir's ability to keep a list of anything his heart desires, has started taking the names down of the people who are in the crowd. His computer materialised from nowhere, or perhaps from somewhere in the throng nearby. It was too quick to really notice. He starts taking down names, fingers flying across the keyboard:
  </p>

<pre>
<code>iex> those_who_are_assembled = [
"Roberto",
"The Author",
"The Reader",
"Juliet",
"Mary",
"Bobalina",
"Charlie",
"Charlie (no relation)"
]
[<span class='console-green'>"Roberto"</span>, ...]</code></pre>

  <aside>
    <header>
      Do you see what Roberto did there?
    </header>

    <p>
      He started a list on one line and then continued it on the lines following. When he finished his list, the computer then took <em>all</em> the lines, processed them as one big instruction and presented us with the finished list. Elixir will let us write code over multiple lines like this, which is handy because it helps for readability!
    </p>
  </aside>

  <p>
    And so Roberto continues. He disappears into the crowd directly to our right, and somehow re-appears within mere seconds on our left. This is despite the density of the crowd. Amazing stuff. He then asks: "Hey Mr. Author Guy, I want to also track people's ages so that I can do some statistics on who exactly is assembled here. Oh, and I want to track their gender too. But a list doesn't seem very suitable for this. How can I do this?"
  </p>

  <p>
    Well Roberto, there's more than one way you could do this. If all you wanted to track about a person was their name, their age and their gender, you could make each item in the list its own list:
  </p>

<pre>
<code>iex> those_who_are_assembled = [
...> ["Roberto", "30ish", "Male"]
...> ]</code></pre>

  <p>
   These lists-inside-of-lists would be called <em>sub-lists</em>. You would then have to keep in mind that the first item in each sublist is the name, the second is the age and the third is the gender. What if you lost track of this and started adding in people, but you flipped the age and their gender?
  </p>

<pre>
<code>iex> those_who_are_assembled = [
...> ["Roberto", "30ish", "Male"],
  ... a long time passes ...
...> ["Young Roberto", "Male", "20ish"],
...> ]</code></pre>

  <p>
    Pandemonium again! We need a better way of enforcing what data we're collecting for each person. We need a better data structure than lists within lists. Read on to find out what that data structure is!
  </p>
</section>
