<section class='break'>
  <h2>About "Joy of Elixir"</h2>

  <aside>
    <header>Work in progress</header>

    <p>
      The book is currently very much a work-in-progress and I'm sure there will be people out there who <a href='https://github.com/radar/joyofelixir'>can submit feedback</a> on how to improve it. If you find any misteaks or <em>anything at all</em> that makes you uneasy, please do <a href='https://github.com/radar/joyofelixir/issues/new'>submit an issue over on the GitHub repository</a>. <small>There has been one (intentional) mistake already, just to see if you're paying attention.</small>
    </p>

    <p>
      If you don't want to (or can't) submit it there a quick email to <a href='mailto:errata@joyofelixir.com'>errata@joyofelixir.com</a> will work just as well.
    </p>

    <p>
      What we need from you when you let us know about something wrong in the book is:
    </p>

    <ul>
      <li>Where you saw the mistake (just a copy + paste the whole sentence is fine)</li>
      <li>What you think the correction should be</li>
    </ul>

    <p>
      Easy peasy!
    </p>
  </aside>

  <p>
    Joy of Elixir came about because I saw that there was not very much when it comes to absolute beginner material for learning Elixir. There's the excellent <a href='https://elixir-lang.org/getting-started/introduction.html'>Getting Started guide on elixir-lang.org</a> and the <a href='https://pragprog.com/book/elixir13/programming-elixir-1-3'>Programming Elixir</a> book, but those feel like they're more targeted towards experienced programmers. They teach Elixir with a lot of assumed knowledge about programming languages. They're great books, but they're only great books for <em>experienced</em> programmers.
  </p>

  <p>
    There's also the wonderful <a href='https://elixirschool.com/'>Elixir School</a> site that serves well as a reference guide to the features of Elixir, but what newbies really need is a gentler introduction to Elixir.

  <p>
    <strong>Joy of Elixir avoids assuming you know <em>anything</em> about programming while teaching you about your first programming language: Elixir.</strong>
  </p>

  <p>
    It seemed like there is a vast, empty, <em>cavernous void</em> where there should be something like the excellent <a href='https://pine.fm/LearnToProgram/'>Learn to Program book by Chris Pine</a>. That book is for another programming language called <a href='https://www.ruby-lang.org'>Ruby</a>; but there feels like there should be an equivalent to that for Elixir.
  </p>

  <p>
  We have people completely new to programming <em>wanting</em> to learn Elixir -- because people who have learned Elixir already told them about it and how cool it is! -- but the support is not-quite-there yet. So this is an attempt to fill that void. Essentially a response to: <em>"Why won't <u>somebody</u> think of the newbies?"</em>. Well, someone <em>is</em> thinking of the newbies.
  </p>

  <p>
    I want Joy of Elixir to be the go-to-resource for teaching people (yes, that means you!) programming <em>for the very first time</em> using Elixir. I want you to experience the <em>joy</em> that Elixir (and programming in general) can bring to people. I want you to feel like they have power over the machine because of the knowledge contained within this book.
  </p>

  <p><strong><em>I want you to feel competent as our future's potential computer programmers. I want you to feel like you can become a programmer. This isn't stuff a "chosen few" can do. You're capable of learning this too.</em></strong></p>
</section>

<section>
  <h2>Who did this?</h2>


  <p>
    The first Joy of Elixir thing you probably saw was the logo. It's only fair that this gets mentioned first, since it's the first thing. This logo was designed by <a href='https://github.com/baweaver'>Brandon Weaver</a>. Thanks Brandon!
  </p>

  <p>
    The Joy of Elixir project was started by <a href='http://ryanbigg.com/'>Ryan Bigg</a> (that's me). I love teaching people about programming and I wanted to write something to teach programming-first-timers about programming. Elixir is a great first language to use as it is simple to learn -- especially if you have a good book leading the way!
  </p>

  <p>
    I came up with an idea for this book while working at <a href='https://cultureamp.com'>Culture Amp</a>. I was mentoring a junior developer -- Ramya Ravindranath -- and she wanted to learn about Elixir, but found Programming Elixir a little difficult to get through. Around about the same time, one of my brothers-in-law -- Dean -- wanted to learn programming and I thought that he should learn Elixir... but then realised there wasn't a beginner's friendly book for people like him!
  </p>

  <p>
    So really this book is written for people like Ramya and Dean. I have them in mind a lot when I'm writing this book.
  </p>
</section>

<section>
  <h2>License</h2>

  <p>
    This book is licensed under the <a href='https://github.com/joyofelixir/joyofelixir/blob/master/license.txt'>Creative Commons Attribution Share Alike 4.0 License</a>. <strong>This means it is free to share</strong>. You can grab the source of this book <a href='https://github.com/radar/joyofelixir'>from this book's GitHub repository</a>.
  </p>

  <p>
    So please do share it freely amongst your friends, associates, workers, pets, lovers, etc.
  </p>

  <aside>
    <header>But why charge for the PDF?</header>

    <p>
      You might've noticed that this book is also <a href='https://leanpub.com/joyofelixir'>selling on Leanpub</a> for real dollars, despite the license blurb above. This is for one main reason: to gives people a way to lend financial support to this project. If they like what they read then they can throw a few bucks my way and they'll get a PDF version of this book <em>and</em> a warm fuzzy feeling. Win-win.
    </p>
  </aside>
</section>

