<h2 id='chapter-10'>10. Creating our own functions</h2>

<div class='todo'>
  Work in progress.

  Will cover building functions inside of modules and the pipe operator. Maybe include an example here of a pipe chain with IO.inspect in it.

  Will show the long form (blocks) and short form (one-liner, with do) to create a function.
</div>

<p>
  In the previous chapter, we showed this:
</p>

<pre><code>iex> Enum.map(seasons, &amp;String.capitalize/1)
[<span class='console-green'>"Summer"</span>, <span class='console-green'>"Fall"</span>, <span class='console-green'>"Winter"</span>, <span class='console-green'>"Spring"</span>]</code></pre>

<p>
  And we said that we had to specify the ampersand to tell Elixir it's a function...
</p>

<p>NOTE: How about showing an example where a function returns another function and using that here? Or is that too "advanced"?</p>
