<section class='break'>
  <h2>Exercise Solutions</h2>

  <p>
    This section contains solutions for all the exercises in this book. Use this only if you're stuck!
  </p>

  <section>
    <h3>Chapter 1</h3>

    <h4>Exercise 1</h4>

    <p><em>Get Elixir to calculate the number of seconds in the day by multiplying the hours in a day by 60 twice. How many seconds are there in a day?</em></p>

    <p>
      There are 24 hours in a day, so we can multiply by 60 twice like this to get our answer:
    </p>

    <pre><code>iex> 24 * 60 * 60
86400</code></pre>

    <h4>Exercise 2</h4>

    <p><em>Calculate the average of these numbers: 4, 8, 15, 16, 23 and 42.</em></p>

    <p>
      To calculate the average of these numbers, we need to add them all together and then divide that number by how many numbers there are, so 6.
    </p>


    <pre><code>iex> 4 + 8 + 15 + 16 + 23 + 42
108
iex> 108 / 6
18.0</code></pre>

    <p>
      Special thing to note here is that when we divide in Elixir, it will always give us a decimal representation of the number, rather than a whole number. This is why we see <code>18.0</code> instead of simply <code>18</code> here.
    </p>
  </section>

  <section>
    <h3>Chapter 2</h3>

    <h4>Exercise 1</h4>

    <p><em>If we store the number of seconds in a day using this code: <code>seconds = 86400</code>, calculate using that variable how many hours there are in 30 days.</em></p>

    <p>
      Tricky part here is that the variable is for <em>seconds</em>, but the answer we seek is for <em>hours</em>. To convert the number of seconds into hours, we need to a similar calculation to Exercise 1.1: take the number of seconds, divide by 60 to get minutes and then divide by 60 again to get how many hours are in a single day:
    </p>

    <pre><code>iex> seconds = 86400
86400
iex> seconds / 60 / 60
24.0</code></pre>

    <p>
      We know that there are 24 hours in a given day. So to get the number of hours in 30 days, we can multiply 24 by 30:
    </p>

    <pre><code>iex> 24.0 * 30
720</code></pre>

    <p>
      This gives us our answer: there are 720 hours in 30 days. Doing this whole calculation in a single line would look like:
    </p>

    <pre><code>iex> seconds / 60 / 60 * 30
720</code></pre>

    <p>
      It's possible to make this a little shorter too. At the end of this line, we're dividing by 60 and then multiplying by 30. Dividing anything by 60 and multiplying it by 30 is the same as dividing it by 2 (2 comes from dividing 60 by 30). The same could be said if we divided by 10 and multiplied by 5, or divided by 4 and multiplied by 2. So we can shorten this by dividing by 60 once, and then dividing by 2 to get the same answer:
    </p>

    <pre><code>iex> seconds / 60 / 2
720</code></pre>

    <h4>Exercise 2</h4>

    <p><em>The line <code>5 / "four"</code> shows an error. Think about why this error might happen.</em></p>

    <p>
      The error that we'll see for this line is this:
    </p>

    <pre><code>iex> 5 / "four"
<span class='console-red'>** (ArithmeticError) bad argument in arithmetic expression: 5 / "four"
:erlang./(5, "four")</span></code></pre>

    <p>
      Elixir is saying here that there's a "bad argument in arithmetic expression" -- which is a confounding way to say "what you're asking me to say doesn't make sense to do!". It is not possible to divide the <em>number</em> 5 by the <em>word</em> "four". These two things are incompatible, which is why we're seeing this issue.
    </p>
  </section>

  <section>
    <h3>Chapter 3</h3>

    <p>There are no exercises for this chapter.</p>
  </section>

  <section>
    <h3>Chapter 4</h3>

    <p>There are no exercises for this chapter.</p>
  </section>

  <section>
    <h3>Chapter 5</h3>

    <h4>Exercise 1</h4>

    <p><em>Make a function which turns fahrenheit temperatures into celsius.</em></p>

    <p>
      Early on in Chapter 5, we see a function which converts celsius into fahrenheit:
    </p>

<pre><code>iex> c_to_f = fn (c) -> c * 1.8 + 32 end</code></pre>

    <p>
      This exercise is about going the other way: converting from fahrenheit to celsius. We need to reverse the order of operations here and then turn the operations into their opposites too. Where we add, we minus. Where we multiply, we divide:
    </p>

<pre><code>iex> f_to_c = fn (f) -> (f - 32) / 1.8 end</code></pre>

    <p>
      We must include the brackets here on the first operation, otherwise Elixir will attempt to divide 32 by 1.8 first. Go on, try it without the brackets and see what happens.
    </p>

    <p>
      We can run this function like this:
    </p>

<pre><code>iex> f_to_c.(104)
40
</code></pre>

    <p>
      If you ask Google "104 Farenheit in Celsius?", you'll see this is the right result:
    </p>

    <figure>
      <img src='/images/solutions/google-f-to-c.png' alt='Google result for '104 Farenheit in Celsius>
      <figcaption>Google result for '104 Farenheit in Celsius'</figcaption>
    </figure>

    <p>
      Other numbers should work just as well too!
    </p>


    <h4>Exercise 2</h4>

    <p>
      <em>Make a function which returns the number of seconds in the specified amount of days. For example, <code>seconds.(2)</code> should tell us how many seconds there are in 2 days.</em>
    </p>

    <p>
      We know that there are 24 hours in a day, 60 minutes in an hour, and 60 seconds in an hour. So to get from days to seconds, we need to multiply by 24, then 60, then 60 again. In a function, this would look like:
    </p>

<pre><code>iex> seconds = fn (days) -> days * 24 * 60 * 60 end</code></pre>

    <p>
      We can then run this function like this:
    </p>

<pre><code>iex> seconds.(1)
86400
iex> seconds.(2)
172800
</code></pre>

    <h4>Exercise 3</h4>

    <p><em>Make a function which takes two maps with <code>"age"</code> keys in them and returns the average age.</em></p>

    <p>
      This function needs to take two maps, and the easiest way to do that would be to have them as two separate arguments.
    </p>

<pre><code>iex> average_age = fn (person_1, person_2) -> ...</code></pre>

    We can then take out the relevant <code>age</code> values from these maps with some pattern matching:
    </p>


<pre><code>iex> average_age = fn (%{"age" => age_1}, %{"age" => age_2}) -> ...</code></pre>

    <p>
      This change of the function makes it so that the function only cares about the <code>"age"</code> keys in the maps, and will ignore the rest. From there, we need to calculate the average. The way we can do that is to add together all the numbers we have, and then divide the result by the count of the things we added together.
    </p>

  <pre><code>iex> average_age = fn (%{"age" => age_1}, %{"age" => age_2}) -> (age_1 + age_2) / 2 end</code></pre>


    <p>We can then run this function like this:</p>

<pre><code>average_age.(%{"age" => 15}, %{"age" => 45})
30.0</code></pre>

    <p>
      It's important to note that both of the maps have to have the <code>"age"</code> key, otherwise this code will not work:
    </p>

<pre><code>average_age.(%{"age" => 15}, %{"name" => "Izzy"})
<span class='console-red'>** (FunctionClauseError) no function clause matching in :erl_eval."-inside-an-interpreted-fun-"/2</span>

The following arguments were given to :erl_eval."-inside-an-interpreted-fun-"/2:

    # 1
    %{<span class='console-green'>"age"</span> => 15}

    # 2
    %{<span class='console-green'>"name"</span> => <span class='console-green'>"Izzy"</span>}</code></pre>

    <p>
      This error shows that the arguments that we passed do not match what the function expects. It helpfully shows us what we've passed, so that we can see for ourselves that the 2nd argument does not fit the criteria of needing an <code>"age"</code> key.
    </p>
  </section>

  <section>
    <h3>Chapter 6</h3>

    <p><em>Make a function that takes either a map containing a "name" and "age", or just a map containing "name". Change the output depending on if "age" is present. What happens if you switch the order of the function clauses? What can you learn from this?</em></p>

    <p>
      For this, we can use a function that pattern matches on what keys are in the map. We'll call this function <code>about</code> because it's going to tell us about a person:
    </p>

    <pre><code>iex> about = fn
  %{"name" => name, "age" => age} ->
    "#{name} is #{age} years old"
  %{"name" => name} ->
    "I don't know how old #{name} is!"
end</code></pre>

    <p>
      We can call the function with a map that contains a <code>"name"</code> and <code>"age"</code> key:
    </p>

    <pre><code>iex> about.(%{"name" => "Ryan", "age" => 31})</code></pre>

    <p>
      This map matches the <em>first</em> clause:
    </p>

    <pre><code>iex> about = fn
  %{"name" => name, "age" => age} ->
    "#{name} is #{age} years old"
  <span class='unused-clause'>%{"name" => name} ->
    "I don't know how old #{name} is!"</span>
end</code></pre>

    <p>
      Or we can call it with a map with just a name key:
    </p>

    <pre><code>iex> about.(%{"name" => "Izzy"})</code></pre>

    <p>
      This map matches the <em>second</em> clause, because the first clause requires <em>both</em> a <code>"name"</code> and <code>"age"</code> key.
    </p>

    <pre><code>iex> about = fn
  <span class='unused-clause'>%{"name" => name, "age" => age} ->
    "#{name} is #{age} years old"</span>
  %{"name" => name} ->
    "I don't know how old #{name} is!"
end</code></pre>

    <p>
      The last part of the exercise asks: "What happens if you switch the order of the function clauses?". Let's try it. We'll reorder the function:
    </p>

    <pre><code>iex> about = fn
  %{"name" => name} ->
    "I don't know how old #{name} is!"
  %{"name" => name, "age" => age} ->
    "#{name} is #{age} years old"
end</code></pre>

    <p>
      And then we'll try to run it:
    </p>


    <pre><code>iex> about.(%{"name" => "Ryan", "age" => 31})</code></pre>

    <p>
      This map matches the <em>first</em> clause because the first clause only needs a <code>"name"</code> key to match its pattern:
    </p>

    <pre><code>iex> about = fn
  %{"name" => name} ->
    "I don't know how old #{name} is!"
  %{"name" => name, "age" => age} ->
    "#{name} is #{age} years old"
end</code></pre>

    <p>
      This may be unexpected; it may be expected to match the <em>second</em> clause, the one with both <code>"name"</code> and <code>"age"</code>. But this will not happen, because the first clause is really relaxed: it only expects <code>"name"</code>
    </p>

    <p>
      This is hopefully a good lesson in pattern matching in Elixir. A good rule to follow is that your clauses should be ordered from most-specific to least-specific. If you do not order your clauses like this, then you may have a clause matching before others unexpectedly.
    </p>
  </section>

  <section>
    <h3>Chapter 7</h3>

    <p>There are no exercises for this chapter.</p>
  </section>

  <section>
    <h3>Chapter 8</h3>

    <h4>Exercise 1</h4>

    <p>
      <em>Make a program that generates a very short story. Get it to take some input of a person, a place and an object -- using <code>IO.gets/1</code> and combine all three into a little sentence, output with <code>IO.puts/1</code></em>
    </p>

    <p>
      What we're looking to output to the screen is a string containing a <code>person</code>, a <code>place</code> and an <code>object</code>. Something like this:
    </p>

    <pre><code>I suggest it was [Colonel Mustard], in the [Ballroom], with the [Revolver]</code></pre>

    <p>
      First, we need to collect the pieces:
    </p>

    <p>
      person = IO.gets("Whodunit? ")
      place = IO.gets("Where? ")
      object = IO.gets("With what? ")
    </p>

    <p>
      We'll need to trim all of these, as when <code>IO.gets/1</code> gives us our values it will include a new line at the end:
    </p>

    <pre><code>person = "Colonel Mustard\n"</code></pre>

    <p>
      This will lead to our output to look a little... strange:
    </p>

    <pre><code>I suggest it was [Colonel Mustard]
, in the [Ballroom]
, with the [Revolver]</code></pre>

    <p>
      We can strip it like this:
    </p>

<pre><code>person = String.trim(IO.gets("Whodunit? "))
place = String.trim(IO.gets("Where? "))
object = String.trim(IO.gets?("With what? "))</code></pre>

  <p>
    (We'll see a cleaner way of writing this code in Chapter 10's exercise solutions!)
  </p>

  <p>
    With everything collected, now we can output it:
  </p>

  <pre><code>IO.puts "I suggest it was [#{person}] in the [#{place}] with the [#{object}]"</code></pre>

  <p>
    The whole program looks like this:
  </p>

  <pre><code>person = String.trim(IO.gets("Whodunit? "))
place = String.trim(IO.gets("Where? "))
object = String.trim(IO.gets("With what? "))

IO.puts "I suggest it was [#{person}] in the [#{place}] with the [#{object}]"</code></pre>

  <p>
    If we put this code into a file called <code>clue.ex</code> and run it with <code>elixir clue.ex</code>, and answer all its prompts, we'll see the output we wished for:
  </p>

  <pre><code>I suggest it was [Colonel Mustard], in the [Ballroom], with the [Revolver]</code></pre>

  <h4>Exercise 2</h4>

  <p><em>Ponder on what happens when you remove the <code>IO.puts</code> from the beginning of Line 3 in <code>greet.exs</code> and then run the program with <code>elixir greet.exs</code>. Think about how this would be different if you put that code into an <code>iex</code> prompt.</em></p>

  <p>
    If we remove the <code>IO.puts</code> line from <code>greet.exs</code>, nothing will be output. This is different from the <code>iex</code> prompt, which will show us the string, with the <code>name</code> and <code>age</code> variables put in their right place:
  </p>

  <pre><code>iex> "Hello, #{String.trim(name)}! You're #{String.trim(age)}? That's so old!"
"Hello, Ryan! You're 31? That's so old!"</code></pre>

  <p>
    This is because <code>iex</code> is a Read-Eval-Print Loop, it will read in the code, evaluate it, and print (or output) whatever the code tells it to do. This is different from running the program <code>greet.exs</code>, because that only outputs when we tell it to do so. When we remove the <code>IO.puts</code> from the beginning of the line, we're telling it to evaluate the string, but <em>not</em> to output it.
  </p>
  </section>

  <section>
    <h3>Chapter 9</h3>

    <h4>Exercise 1</h4>

    <p>
      <em>Use a combination of <code>Enum.map/2</code> and <code>String.replace/3</code> to replace all the e's in these words with another letter of your choosing: <code>["a", "very", "fine", "collection", "of", "words", "enunciated"]</code></em>
    </p>

    <p>
      If we wanted to replace the letter "e" in the word "very", we can do that easily with <code>String.replace/3</code>. The three arguments are the string we want to change, what in that string we want to replace and what we want to replace it with.
    </p>

    <pre><code>iex> String.replace("very", "e", "a")
"vary"</code></pre>

    <p>
      To do this with a list of strings, we must employ <code>Enum.map/2</code>. The two arguments here are the word list, and then a function to run over each of them:
    </p>

    <pre><code>iex> words = ["a", "very", "fine", "collection", "of", "words", "enunciated"]
["a", "very", "fine", "collection", "of", "words", "enunciated"]
iex> Enum.map(words, fn(word) -> String.replace(word, "e", "a") end)
["a", "vary", "fina", "collaction", "of", "words", "anunciatad"]
</code></pre>

    <p>
      The words have now all had their "e" letters replaced with "a", which makas tha word list look a littla stranga, don't you rackon?
    </p>

    <p>
      We can write this a little shorter by using the capture operator:
    </p>

  <pre><code>iex> Enum.map(words, &(String.replace(&1, "e", "a")))
["a", "vary", "fina", "collaction", "of", "words", "anunciatad"]
</code></pre>

    <h4>Exercise 2</h4>

    <p><em>Use <code>Enum.reduce/2</code> to multiply these numbers together: <code>[2, 4, 991, 2543]</code></em></p>

    <p>
      The final example of <code>Enum.reduce/2</code> shows us how to add together a list of scores:
    </p>

    <pre><code>iex> scores = [74, 79, 89, 32, 79, 70, 32, 69, 76, 73, 88, 73, 82, 31]
[74, 79, 89, 32, 79, 70, 32, 69, 76, 73, 88, 73, 82, 31]
iex> Enum.reduce(scores, fn (score, sum) -> sum + score end)
947</code></pre>

    <p>
      We can adapt this to multiply together our new list:
    </p>

    <pre><code>iex> numbers = [2, 4, 991, 2543]
[2, 4, 991, 2543]
iex> Enum.reduce(numbers, fn (number, sum) -> sum * number end)
20160904</code></pre>
  </section>

  <section>
    <h3>Chapter 10</h3>

    <p><em>Use your newfound knowledge of the pipe operator to re-write your solution to Chapter 8's first exercise.</em></p>

    <p>
      As a little refresher, here's what our end solution to Chapter 8 looked like:
    </p>


    <pre><code>person = String.trim(IO.gets("Whodunit? "))
place = String.trim(IO.gets("Where? "))
object = String.trim(IO.gets("With what? "))

IO.puts "I suggest it was [#{person}] in the [#{place}] with the [#{object}]"</code></pre>

    <p>
      We have to read this code from the inside-out -- we read the argument that's passed to <code>IO.gets/1</code>, then we need to read <code>IO.gets/1</code> itself to understand that, then we read the <code>String.trim/1</code> function.
    </p>

    <p>
      The pipe operator can make this code easier to understand:
    </p>

    <pre><code>person = "Whodunit? " |> IO.gets |> String.trim
place = "Where? " |> IO.gets |> String.trim
object = "With what?" |> IO.gets |> String.trim</code></pre>

    <p>
      Now our code reads left-to-right, just like a sentence.
    </p>

    <p>
      For bonus points, we can take out this repetition and move it into a function:
    </p>

    <pre><code>question = fn (question) ->
  IO.gets("#{question} ") |> String.trim
end

person = question.("Whodunit?")
place = question.("Where?")
object = question.("With what?")

IO.puts "I suggest it was [#{person}] in the [#{place}] with the [#{object}]"</code></pre>
  </section>

    <p>
      When we run this code again, it will work just the same. The function is the same, but the form is now a lot cleaner with the pipe.
    </p>

  <section>
    <h3>Chapter 11</h3>

    <ul>
      <li>
        Can you make Elixir write a program for itself? Put the following code into a file called <code>script.ex</code> with <code>File.write/2</code>, writing to a file called <code>generated.ex</code>. Here's the code that should go in <code>script.ex</code>: <code>IO.puts "This file was generated from Elixir"</code>. When we run <code>elixir script.ex</code>, we should then be able to run <code>elixir that-file.ex</code> and see our output.
      </li>
      <li>
        Figure out what happens if you try to delete a file that doesn't exist with <code>File.rm/1</code>. Is this what you expected to happen?
      </li>
    </ul>
  </section>

  <section>
    <h3>Chapter 12</h3>

    <p>There are no exercises for this chapter.</p>
  </section>

  <section>
    <h3>Chapter 13</h3>

    <p>There are no exercises for this chapter.</p>
  </section>
</section>
