<section class='break'>
  <h2>Exercise Solutions</h2>

  <p>
    This section contains solutions for all the exercises in this book. Use this only if you're stuck!
  </p>

  <section>
    <h3>Chapter 1</h3>

    <p><em>Get Elixir to calculate the number of seconds in the day by multiplying the hours in a day by 60 twice. How many seconds are there in a day?</em></p>

    <p>
      There are 24 hours in a day, so we can multiply by 60 twice like this to get our answer:
    </p>

    <pre><code>iex> 24 * 60 * 60
  86400</code></pre>

    <p><em>Calculate the average of these numbers: 4, 8, 15, 16, 23 and 42.</em></p>

    <p>
      To calculate the average of these numbers, we need to add them all together and then divide that number by how many numbers there are, so 6.
    </p>


    <pre><code>iex> 4 + 8 + 15 + 16 + 23 + 42
  108
  iex> 108 / 6
  18.0
    </code></pre>

    <p>
      Special thing to note here is that when we divide in Elixir, it will always give us a decimal representation of the number, rather than a whole number. This is why we see <code>18.0</code> instead of simply <code>18</code> here.
    </p>
  </section>
</section>
