---
layout: book
title: The Book
---

{% include book/cover.html %}
{% include book/toc.html %}
{% include ch/about.html %}
<h1 class='part-header'>Part One: Introductions</h1>
{% include ch/i.html %}
{% include ch/ii.html %}
<h1 class='part-header'>Part Two: And away we go</h1>
{% include ch/1.html %}
{% include ch/2.html %}
{% include ch/3.html %}
{% include ch/4.html %}
{% include ch/5.html %}
{% include ch/6.html %}
<h1 class='part-header'>Part Three: Building on the foundations</h1>
{% include ch/7.html %}
{% include ch/8.html %}
{% include ch/9.html %}
{% include ch/10.html %}
{% include ch/11.html %}
<h1 class='part-header'>... And the rest</h1>
{% include ch/a.html %}
{% include ch/b.html %}
